<div>
    <h1>Register </h1>
    <form action="/register" method="post">
        <lable for ="username">Username </lable>
        <input type="text" name ="username">
        <lable for ="interest ">Interest  </lable>
        <input type="text" name ="interest">
        <!-- <lable for ="age">age </lable>
        <input type="number">
        <lable for ="PhoneNo">Phone no </lable>
        <input type="tel"> -->
        <lable for ="password">Password </lable>
        <input type="password" name="password">

  <button>Register</button>
</form>
</div>